@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: normal;
  src: local('Merriweather'), url('http://themes.googleusercontent.com/font?kit=RFda8w1V0eDZheqfcyQ4EInF5uFdDttMLvmWuJdhhgs') format('truetype');
}

@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans Mono'), local('DroidSansMono'), url(http://themes.googleusercontent.com/static/fonts/droidsansmono/v4/ns-m2xQYezAtqh7ai59hJUYuTAAIFFn5GTWtryCmBQ4.woff) format('woff');
}

body {
  font: normal 100% Merriweather;
  line-height: 1.8em;
  background-color:#FFFFFF;
  color:#3F454F;
  text-shadow: 0 1px 0 white;
  text-rendering: optimizeLegibility;
} 

nav {
  font-size: 1.3em;
  /*line-height: 2em;*/
  margin-bottom: 2em;
}

nav .prompt {
  font-style: italic;
  opacity: 0.7;
}

.content-wrap {
  max-width: 55em;
  margin: 0 auto;
}

a {
  color: #BE3F1C;
}

a:not(:hover) {
  text-decoration: none;
}

h1, h1 a {
  color: #21BBE1;
}

h2, h2 a {
  /*color: #BE3F1C;*/
}

.article.intro header a {
  font-size: 1.17em;
}

code , pre {
  font-family: 'droid sans mono', 'lucida console', monospace;
  background: #eee;
  /*line-height: 1em;*/
}

pre {
  /*border-left: solid 2px #ccc;*/
  padding-left: 1.2em;
  margin: 2em 0 2em 0px;
}

blockquote > p:first-child:before {
  content: "“";
}

blockquote > p:last-child:after {
  content: "”";
}

blockquote > p:first-child:before, blockquote > p:last-child:after {
  font-size: 150%;
  color: #ccc;
  padding: 0 -0.2em;
}

.logo h1 > a {
  /*color: #BE3F1C;*/
  text-decoration: none;
}

.projects {
  float: right;
  padding-right: 6%;
  width: 47%;
}

article {
  margin-bottom: 2em;
}

.spacer {
  clear: both;
}

.date, .more a {
  font-size: .9em;
  font-style: italic;
  padding-left: 1em;
  color: #888;
}

.big-date {
  font-size: 1.1em;
  font-style: italic;
  color: #888;
  padding-right: 2em;
}

.big-tag {
  border-radius: .4em;
  background-color: #FAFCB4;
  margin-right: .3em;
  margin-bottom: .3em;
  padding: .3em .6em;
  color: #3F454F;
  display: inline-block;
}

a.big-tag:hover {
  text-decoration: none;
}


footer {
  text-align: center;
  font-size: .8em;
}

footer .nav {
  font-size: 2em;
  margin-bottom: 2em;
}

.nav a {
  margin: 2em;
}

.header {
  margin: 2em 0;
}

.archive ul li {
  margin: 0;
}

@media (min-width: 860px) {
  header .links {
    position: relative;
    top: -5em;
    float: right;
  }

  .logo {
    font-size: 2.7em;
  }

  .archive {
    width: 32em;
    margin: 5em auto 6em;
    padding-left: 2em;
  }

  .archive h2 {
    font-size: 2em;
    margin: 0;
    margin-left: 6.1em;
    margin-bottom: 0.5em;
    font-style: italic;
  }

  .archive ul {
    list-style: none;
    margin: 0;
  }

  .archive a, .archive span{
    display: block;
    float: left;
    margin-bottom: -1px;
    text-decoration: none;
  }
  
  .archive li:not(:last-child) {
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: -1px;
  }

  .archive a.last, .archive span.last {
    border: 0;
    margin-bottom: 0;
  }

  .archive a {
    width: 21em;
    text-indent: 1em;
    white-space: nowrap;
  }

  .archive .year-label,
  .archive .month-label{
    width: 4em;
    font-family: 'Merriweather', serif;
    font-variant: small-caps;
    text-transform: lowercase;
    font-weight: 400;
    text-rendering: auto;
    letter-spacing: 1px;
    text-align: center;
  }

  .archive .month-label {
    width: 7em;
  }
}